<table>
    <thead>
        <tr>
            <th>№ п\п</th>
            <th>Проверяемая позиция</th>
            <th>Критерии оценки (Да/Нет)</th>
            <th>Оценка позиции (Баллы по факту)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Обработка рук перед контактом с пациентом</td>
            <td class="criteria-cell" data-yes="0" data-no="20">
                <label><input type="radio" name="criteria_1" value="Да"> Да</label>
                <label><input type="radio" name="criteria_1" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Обработка рук после контакта с пациентом</td>
            <td class="criteria-cell" data-yes="0" data-no="20">
                <label><input type="radio" name="criteria_2" value="Да"> Да</label>
                <label><input type="radio" name="criteria_2" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Обработка рук перед асептическими процедурами</td>
            <td class="criteria-cell" data-yes="0" data-no="25">
                <label><input type="radio" name="criteria_3" value="Да"> Да</label>
                <label><input type="radio" name="criteria_3" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Обработка рук после возможного контакта с биологическими жидкостями, тканями</td>
            <td class="criteria-cell" data-yes="0" data-no="20">
                <label><input type="radio" name="criteria_4" value="Да"> Да</label>
                <label><input type="radio" name="criteria_4" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Обработка рук после контакта с окружающими пациента предметами</td>
            <td class="criteria-cell" data-yes="0" data-no="9">
                <label><input type="radio" name="criteria_5" value="Да"> Да</label>
                <label><input type="radio" name="criteria_5" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Использование перчаток перед возможным контактом с биологическими жидкостями или тканями</td>
            <td class="criteria-cell" data-yes="0" data-no="20">
                <label><input type="radio" name="criteria_6" value="Да"> Да</label>
                <label><input type="radio" name="criteria_6" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Использование стерильных перчаток перед асептической манипуляцией</td>
            <td class="criteria-cell" data-yes="0" data-no="25">
                <label><input type="radio" name="criteria_7" value="Да"> Да</label>
                <label><input type="radio" name="criteria_7" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Правильность надевания стерильных перчаток</td>
            <td class="criteria-cell" data-yes="0" data-no="16">
                <label><input type="radio" name="criteria_8" value="Да"> Да</label>
                <label><input type="radio" name="criteria_8" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Правильность снятия и утилизации перчаток после использования</td>
            <td class="criteria-cell" data-yes="0" data-no="16">
                <label><input type="radio" name="criteria_9" value="Да"> Да</label>
                <label><input type="radio" name="criteria_9" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Отсутствие рукопожатий</td>
            <td class="criteria-cell" data-yes="0" data-no="4">
                <label><input type="radio" name="criteria_10" value="Да"> Да</label>
                <label><input type="radio" name="criteria_10" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
            <td>11</td>
            <td>Максимальное число несоответствий в баллах</td>
            <td></td>
            <td class="total-cell"></td>
        </tr>
    </tbody>
</table>
