<table>
    <thead>
        <tr>
            <th>№ п\п</th>
            <th>Проверяемая позиция</th>
            <th>Критерии оценки (Да/Нет)</th>
            <th>Оценка позиции (Баллы по факту)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Наличие СОП «Обработка рук медицинского персонала»</td>
            <td class="criteria-cell" data-yes="0" data-no="16">
                <label><input type="radio" name="criteria_1" value="Да"> Да</label>
                <label><input type="radio" name="criteria_1" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Доступность документа «СОП» для медицинского персонала</td>
            <td class="criteria-cell" data-yes="0" data-no="8">
                <label><input type="radio" name="criteria_2" value="Да"> Да</label>
                <label><input type="radio" name="criteria_2" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Регулярность обучения медицинского персонала обработке рук</td>
            <td class="criteria-cell" data-yes="0" data-no="25">
                <label><input type="radio" name="criteria_3" value="Да"> Да</label>
                <label><input type="radio" name="criteria_3" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Регулярность внутреннего аудита обработки рук</td>
            <td class="criteria-cell" data-yes="0" data-no="20">
                <label><input type="radio" name="criteria_4" value="Да"> Да</label>
                <label><input type="radio" name="criteria_4" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Интерактивное обучение обработке рук</td>
            <td class="criteria-cell" data-yes="0" data-no="16">
                <label><input type="radio" name="criteria_5" value="Да"> Да</label>
                <label><input type="radio" name="criteria_5" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Бактериологический контроль мыла и антисептика на микробную обсемененность</td>
            <td class="criteria-cell" data-yes="0" data-no="25">
                <label><input type="radio" name="criteria_6" value="Да"> Да</label>
                <label><input type="radio" name="criteria_6" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Еженедельный учет расхода антисептиков для рук</td>
            <td class="criteria-cell" data-yes="0" data-no="6">
                <label><input type="radio" name="criteria_7" value="Да"> Да</label>
                <label><input type="radio" name="criteria_7" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Учет количества обработок рук антисептиком в смену на 1 сотрудника</td>
            <td class="criteria-cell" data-yes="0" data-no="6">
                <label><input type="radio" name="criteria_8" value="Да"> Да</label>
                <label><input type="radio" name="criteria_8" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Соблюдение сроков хранения мыла и антисептиков</td>
            <td class="criteria-cell" data-yes="0" data-no="25">
                <label><input type="radio" name="criteria_9" value="Да"> Да</label>
                <label><input type="radio" name="criteria_9" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Соответствие содержания спиртов в антисептике требования санитарного законодательства</td>
            <td class="criteria-cell" data-yes="0" data-no="25">
                <label><input type="radio" name="criteria_10" value="Да"> Да</label>
                <label><input type="radio" name="criteria_10" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Наличие учета состояния кожи рук медицинского персонала, реакций на обработку рук</td>
            <td class="criteria-cell" data-yes="0" data-no="12">
                <label><input type="radio" name="criteria_11" value="Да"> Да</label>
                <label><input type="radio" name="criteria_11" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
            <td>12</td>
            <td>Максимальное число несоответствий в баллах</td>
            <td></td>
            <td class="total-cell"></td>
        </tr>
    </tbody>
</table>
