<table>
    <thead>
        <tr>
            <th>№ п\п</th>
            <th>Проверяемая позиция</th>
            <th>Критерии оценки (Да/Нет)</th>
            <th>Оценка позиции (Баллы по факту)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Состояние кожи рук</td>
            <td class="criteria-cell" data-yes="0" data-no="16">
                <label><input type="radio" name="criteria_1" value="Да"> Да</label>
                <label><input type="radio" name="criteria_1" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Отсутствие лака, искусственных или длинных ногтей</td>
            <td class="criteria-cell" data-yes="0" data-no="12">
                <label><input type="radio" name="criteria_2" value="Да"> Да</label>
                <label><input type="radio" name="criteria_2" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Отсутствие колец, часов и других украшений</td>
            <td class="criteria-cell" data-yes="0" data-no="9">
                <label><input type="radio" name="criteria_3" value="Да"> Да</label>
                <label><input type="radio" name="criteria_3" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Правильность открывания крана с водой</td>
            <td class="criteria-cell" data-yes="0" data-no="4">
                <label><input type="radio" name="criteria_4" value="Да"> Да</label>
                <label><input type="radio" name="criteria_4" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Правильность пользования жидким мылом</td>
            <td class="criteria-cell" data-yes="0" data-no="4">
                <label><input type="radio" name="criteria_5" value="Да"> Да</label>
                <label><input type="radio" name="criteria_5" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Соблюдение последовательности движений при мытье рук</td>
            <td class="criteria-cell" data-yes="0" data-no="6">
                <label><input type="radio" name="criteria_6" value="Да"> Да</label>
                <label><input type="radio" name="criteria_6" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Правильность закрывания крана с водой</td>
            <td class="criteria-cell" data-yes="0" data-no="12">
                <label><input type="radio" name="criteria_7" value="Да"> Да</label>
                <label><input type="radio" name="criteria_7" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Высушивание рук бумажными салфетками (стерильными салфетками в случае хирургической обработки рук)</td>
            <td class="criteria-cell" data-yes="0" data-no="4">
                <label><input type="radio" name="criteria_8" value="Да"> Да</label>
                <label><input type="radio" name="criteria_8" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Тщательность высушивания рук</td>
            <td class="criteria-cell" data-yes="0" data-no="9">
                <label><input type="radio" name="criteria_9" value="Да"> Да</label>
                <label><input type="radio" name="criteria_9" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Правильность пользования корзиной для сброса использованных салфеток</td>
            <td class="criteria-cell" data-yes="0" data-no="4">
                <label><input type="radio" name="criteria_10" value="Да"> Да</label>
                <label><input type="radio" name="criteria_10" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Использование антисептика</td>
            <td class="criteria-cell" data-yes="0" data-no="25">
                <label><input type="radio" name="criteria_11" value="Да"> Да</label>
                <label><input type="radio" name="criteria_11" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Правильность использования антисептика</td>
            <td class="criteria-cell" data-yes="0" data-no="20">
                <label><input type="radio" name="criteria_12" value="Да"> Да</label>
                <label><input type="radio" name="criteria_12" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>13</td>
            <td>Надевание перчаток на сухие руки</td>
            <td class="criteria-cell" data-yes="0" data-no="9">
                <label><input type="radio" name="criteria_13" value="Да"> Да</label>
                <label><input type="radio" name="criteria_13" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>14</td>
            <td>Соблюдение порядка надевания перчаток</td>
            <td class="criteria-cell" data-yes="0" data-no="20">
                <label><input type="radio" name="criteria_14" value="Да"> Да</label>
                <label><input type="radio" name="criteria_14" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>15</td>
            <td>Соблюдение порядка снятия перчаток</td>
            <td class="criteria-cell" data-yes="0" data-no="20">
                <label><input type="radio" name="criteria_15" value="Да"> Да</label>
                <label><input type="radio" name="criteria_15" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
            <td>16</td>
            <td>Максимальное число несоответствий в баллах</td>
            <td></td>
            <td class="total-cell"></td>
        </tr>
    </tbody>
</table>
