<table>
    <thead>
        <tr>
            <th>№ п\п</th>
            <th>Проверяемая позиция</th>
            <th>Критерии оценки (Да/Нет)</th>
            <th>Оценка позиции (Баллы по факту)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Перед входом в лифт</td>
            <td class="criteria-cell" data-yes="0" data-no="9">
                <label><input type="radio" name="criteria_1" value="Да"> Да</label>
                <label><input type="radio" name="criteria_1" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Перед входом в отделение</td>
            <td class="criteria-cell" data-yes="0" data-no="12">
                <label><input type="radio" name="criteria_2" value="Да"> Да</label>
                <label><input type="radio" name="criteria_2" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Перед выходом из отделения</td>
            <td class="criteria-cell" data-yes="0" data-no="12">
                <label><input type="radio" name="criteria_3" value="Да"> Да</label>
                <label><input type="radio" name="criteria_3" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>4</td>
            <td>В шлюзе палаты</td>
            <td class="criteria-cell" data-yes="0" data-no="25">
                <label><input type="radio" name="criteria_4" value="Да"> Да</label>
                <label><input type="radio" name="criteria_4" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Наличие у персонала карманных антисептиков</td>
            <td class="criteria-cell" data-yes="0" data-no="6">
                <label><input type="radio" name="criteria_5" value="Да"> Да</label>
                <label><input type="radio" name="criteria_5" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Наличие прикроватных антисептиков</td>
            <td class="criteria-cell" data-yes="0" data-no="20">
                <label><input type="radio" name="criteria_6" value="Да"> Да</label>
                <label><input type="radio" name="criteria_6" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Наличие антисептиков для обработки рук маломобильных пациентов</td>
            <td class="criteria-cell" data-yes="0" data-no="16">
                <label><input type="radio" name="criteria_7" value="Да"> Да</label>
                <label><input type="radio" name="criteria_7" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
            <td>8</td>
            <td>Максимальное число несоответствий в баллах</td>
            <td></td>
            <td class="total-cell"></td>
        </tr>
    </tbody>
</table>
