<table>
    <thead>
        <tr>
            <th>№ п\п</th>
            <th>Проверяемая позиция</th>
            <th>Критерии оценки (Да/Нет)</th>
            <th>Оценка позиции (Баллы по факту)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Наличие раковины</td>
            <td class="criteria-cell" data-yes="0" data-no="20">
                <label><input type="radio" name="criteria_1" value="Да"> Да</label>
                <label><input type="radio" name="criteria_1" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Соответствие размеров раковины</td>
            <td class="criteria-cell" data-yes="0" data-no="4">
                <label><input type="radio" name="criteria_2" value="Да"> Да</label>
                <label><input type="radio" name="criteria_2" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Доступность расположения раковины</td>
            <td class="criteria-cell" data-yes="0" data-no="4">
                <label><input type="radio" name="criteria_3" value="Да"> Да</label>
                <label><input type="radio" name="criteria_3" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Наличие крана с локтевым/сенсорным управлением</td>
            <td class="criteria-cell" data-yes="0" data-no="6">
                <label><input type="radio" name="criteria_4" value="Да"> Да</label>
                <label><input type="radio" name="criteria_4" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Исправность крана</td>
            <td class="criteria-cell" data-yes="0" data-no="16">
                <label><input type="radio" name="criteria_5" value="Да"> Да</label>
                <label><input type="radio" name="criteria_5" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Наличие холодной воды</td>
            <td class="criteria-cell" data-yes="0" data-no="25">
                <label><input type="radio" name="criteria_6" value="Да"> Да</label>
                <label><input type="radio" name="criteria_6" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Наличие горячей воды</td>
            <td class="criteria-cell" data-yes="0" data-no="4">
                <label><input type="radio" name="criteria_7" value="Да"> Да</label>
                <label><input type="radio" name="criteria_7" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Наличие резервного нагревателя воды</td>
            <td class="criteria-cell" data-yes="0" data-no="4">
                <label><input type="radio" name="criteria_8" value="Да"> Да</label>
                <label><input type="radio" name="criteria_8" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Наличие влагостойкого фартука вокруг раковины</td>
            <td class="criteria-cell" data-yes="0" data-no="4">
                <label><input type="radio" name="criteria_9" value="Да"> Да</label>
                <label><input type="radio" name="criteria_9" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Доступность расположения раковины</td>
            <td class="criteria-cell" data-yes="0" data-no="20">
                <label><input type="radio" name="criteria_10" value="Да"> Да</label>
                <label><input type="radio" name="criteria_10" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Размещение настенных дозаторов для мыла и антисептика на высоте 135 см от пола</td>
            <td class="criteria-cell" data-yes="0" data-no="2">
                <label><input type="radio" name="criteria_11" value="Да"> Да</label>
                <label><input type="radio" name="criteria_11" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Наличие мыла</td>
            <td class="criteria-cell" data-yes="0" data-no="16">
                <label><input type="radio" name="criteria_12" value="Да"> Да</label>
                <label><input type="radio" name="criteria_12" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>13</td>
            <td>Наличие антисептика</td>
            <td class="criteria-cell" data-yes="0" data-no="25">
                <label><input type="radio" name="criteria_13" value="Да"> Да</label>
                <label><input type="radio" name="criteria_13" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>14</td>
            <td>Расположение флакона с мылом слева, флакона с антисептиком - справа</td>
            <td class="criteria-cell" data-yes="0" data-no="2">
                <label><input type="radio" name="criteria_14" value="Да"> Да</label>
                <label><input type="radio" name="criteria_14" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>15</td>
            <td>Наличие бумажных салфеток ZZ сложения</td>
            <td class="criteria-cell" data-yes="0" data-no="9">
                <label><input type="radio" name="criteria_15" value="Да"> Да</label>
                <label><input type="radio" name="criteria_15" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>16</td>
            <td>Наличие диспенсера для бумажных салфеток</td>
            <td class="criteria-cell" data-yes="0" data-no="12">
                <label><input type="radio" name="criteria_16" value="Да"> Да</label>
                <label><input type="radio" name="criteria_16" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>17</td>
            <td>Расположение диспенсера для бумажных салфеток между флаконами с мылом и антисептиком</td>
            <td class="criteria-cell" data-yes="0" data-no="2">
                <label><input type="radio" name="criteria_17" value="Да"> Да</label>
                <label><input type="radio" name="criteria_17" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>18</td>
            <td>Использование флаконов с мылом однократного применения</td>
            <td class="criteria-cell" data-yes="0" data-no="20">
                <label><input type="radio" name="criteria_18" value="Да"> Да</label>
                <label><input type="radio" name="criteria_18" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>19</td>
            <td>Использование флаконов со спиртосодержащим антисептиком однократного применения</td>
            <td class="criteria-cell" data-yes="0" data-no="20">
                <label><input type="radio" name="criteria_19" value="Да"> Да</label>
                <label><input type="radio" name="criteria_19" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>20</td>
            <td>Использование флаконов с мылом и антисептиком с клапаном airless</td>
            <td class="criteria-cell" data-yes="0" data-no="6">
                <label><input type="radio" name="criteria_20" value="Да"> Да</label>
                <label><input type="radio" name="criteria_20" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>21</td>
            <td>Наличие емкости с педальным или сенсорным управлением для отходов класса «А»</td>
            <td class="criteria-cell" data-yes="0" data-no="20">
                <label><input type="radio" name="criteria_21" value="Да"> Да</label>
                <label><input type="radio" name="criteria_21" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>22</td>
            <td>Наличие у персонала индивидуальной упаковки защитного крема</td>
            <td class="criteria-cell" data-yes="0" data-no="6">
                <label><input type="radio" name="criteria_22" value="Да"> Да</label>
                <label><input type="radio" name="criteria_22" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>23</td>
            <td>Наличие настенного держателя для коробок с перчатками разного размера</td>
            <td class="criteria-cell" data-yes="0" data-no="6">
                <label><input type="radio" name="criteria_23" value="Да"> Да</label>
                <label><input type="radio" name="criteria_23" value="Нет"> Нет</label>
            </td>
            <td class="score-cell">&nbsp;</td>
        </tr>
        <tr>
            <td>24</td>
            <td>Максимальное число несоответствий в баллах</td>
            <td></td>
            <td class="total-cell"></td>
        </tr>
    </tbody>
</table>
